:root
	--default-font: "GothamPro", Arial, sans-serif
	--base-width: 1140px
	--main-color: #344AA3
	--second-color: #872232
	--border-color: #E9EAF2

	--box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15)