footer.footer-cont
	.wrapper
		.footer-top
			.footer-menu
				.footer-menu__totle Недвижимость
				ul
					li
						a(href="") Новостройки
					li
						a(href="") Вторичное жилье
					li
						a(href="") Аренда квартир / домов
					li
						a(href="") Коммерческая недвижимость
					li
						a(href="") Загородная недвижимость
					li
						a(href="") Земельные участки
			.footer-menu
				.footer-menu__totle Агентство недвижимости
				ul
					li
						a(href="") О компании
					li
						a(href="") Услуги
					li
						a(href="") Недвижимость
					li
						a(href="") Ипотека
					li
						a(href="") Юридические услуги
					li
						a(href="") Работа у нас
					li
						a(href="") Отзывы
					li
						a(href="") Блог
					li
						a(href="") Контакты

			.footer-contacts
				.footer-contacts__title Контакты
				.footer-contacts__list
					.footer-contacts__phone
						span
							svg.ico
								use(xlink:href="#ico-phone")
						a(href="tel: 8 800-000-45-56") 8 800-000-45-56
					.footer-contacts__address
						span
							svg.ico
								use(xlink:href="#ico-location")
						| г. Москва ул. Братьев Фонченко, д. 11
					.footer-contacts__email
						span
							svg.ico
								use(xlink:href="#ico-email")
						a(href="mailto: site@sitename.ru") site@sitename.ru
		.footer-middle
			.advance__list
				.advance__item
					figure
						img(src="img/advance-1.png", alt="")
					.advance__item-text Российская Гильдия Риелторов
				.advance__item
					figure
						img(src="img/advance-2.png", alt="")
					.advance__item-text Система добровольной сертификации
				.advance__item
					figure
						img(src="img/advance-1.png", alt="")
					.advance__item-text Региональная гильдия риелторов “Южный урал”
				.advance__item
					.advance__item-text Профессиональная деятельность застрахована в спао “ингосстрах”


		.footer-bot
			.footer-copy
				span.copy © «Агентство недвижимости», 2019
			.footer-soc
				.soc
					.soc__link
						img(src="img/telegram.svg", alt="")
					.soc__link
						img(src="img/vk.svg", alt="")
					.soc__link
						img(src="img/instagram.svg", alt="")
					.soc__link
						img(src="img/odnoklassniki.svg", alt="")
					.soc__link
						img(src="img/twitter.svg", alt="")
					.soc__link
						img(src="img/google-plus.svg", alt="")
					
					

#sprite(style="display: none")
	<!-- Эту свг нужно вставлять инклюдом, т.к. она может меняться -->
	include ../../img/sprite.svg

include forms.pug