footer.footer-cont
	.wrapper
		.footer-top
			.footer-menu
				.footer-menu__totle Недвижимость
				ul
					li
						a(href="") Новостройки
					li
						a(href="") Вторичное жилье
					li
						a(href="") Аренда квартир / домов
					li
						a(href="") Коммерческая недвижимость
					li
						a(href="") Загородная недвижимость
					li
						a(href="") Земельные участки
			.footer-menu
				.footer-menu__totle Агентство недвижимости
				ul
					li
						a(href="") О компании
					li
						a(href="") Услуги
					li
						a(href="") Недвижимость
					li
						a(href="") Ипотека
					li
						a(href="") Юридические услуги
					li
						a(href="") Работа у нас
					li
						a(href="") Отзывы
					li
						a(href="") Блог
					li
						a(href="") Контакты

			.footer-contacts
				.footer-contacts__title Контакты
				.footer-contacts__list
					.footer-contacts__phone
						span
							svg.ico
								use(xlink:href="#ico-phone")
						a(href="tel: 8 800-000-45-56") 8 800-000-45-56
					.footer-contacts__address
						span
							svg.ico
								use(xlink:href="#ico-location")
						| г. Москва ул. Братьев Фонченко, д. 11
					.footer-contacts__email
						span
							svg.ico
								use(xlink:href="#ico-email")
						a(href="mailto: site@sitename.ru") site@sitename.ru
		.footer-middle
			.advance__list
				.advance__item
					figure
						img
					.advance__item-text


			
	.wrapper
		.footer
			.footer-political
				span Не являемся медицинской организацией
				a(href="") Политика конфиденциальности
			.footer-copy
				span.ico-age 18+
				span.copy © Био Центр 2018
			.footer-dev
				a(href="#").dev
					img(src="img/ico-dev.svg", alt="")

#sprite(style="display: none")
	<!-- Эту свг нужно вставлять инклюдом, т.к. она может меняться -->
	include ../../img/sprite.svg

include forms.pug