header.head
	.head-top-cont
		.head-top__img
			img(src="img/head-top-img-1.svg", alt="")
		.wrapper
			.head-top
				nav.head__menu
					ul.h-menu
						li.h-menu__item.active
							a.h-menu__link(href="#") О компании
							ul.h-submenu
								li.h-submenu__item
									a.h-submenu__link(href="#") О нас
								li.h-submenu__item
									a.h-submenu__link(href="#") Сотрудники
								li.h-submenu__item
									a.h-submenu__link(href="#") Застройщикам и инвесторам
								li.h-submenu__item
									a.h-submenu__link(href="#") Программа партнерства
								li.h-submenu__item
									a.h-submenu__link(href="#") Служба качества
								li.h-submenu__item
									a.h-submenu__link(href="#") Часто задаваемые вопросы

						li.h-menu__item
							a.h-menu__link(href="#") Услуги
						li.h-menu__item
							a.h-menu__link(href="#") Недвижимость
						li.h-menu__item
							a.h-menu__link(href="#") Ипотека
						li.h-menu__item
							a.h-menu__link(href="#") Юридические слуги
						li.h-menu__item
							a.h-menu__link(href="#") Работа у нас
						li.h-menu__item
							a.h-menu__link(href="#") Отзывы
						li.h-menu__item
							a.h-menu__link(href="#") Блог
						li.h-menu__item
							a.h-menu__link(href="#") Контакты
				a(href="#").head-favorite
					span
						svg.ico
							use(xlink:href="#ico-heart")

				.head-search
					span
						svg.ico
							use(xlink:href="#ico-zoom")
		.head-top__img
			img(src="img/head-top-img-2.svg", alt="")


	.wrapper
		.head-middle
			.head__logo
				a.logo(href="#")
					img.logo__white.active(src="img/logo.svg" alt="")

			.head__contacts
				.head__contacts-phones
					span
						svg.ico
							use(xlink:href="#ico-tel")
					address.h-phone
						a(href="tel: 88002434552") 8 800-243-45-52
				.head__contacts-city
					span
						svg.ico
							use(xlink:href="#ico-location")
					select.h-city__select
						option(value="0" selected="") Челябинск
						- for (let i = 1; i <= 2; i++)
							option(value=i) Екатеринбург
						option(value="4") Москва
						option(value="5") Комсомольск-на-Амуре
			.head__durations
				span
					svg.ico
						use(xlink:href="#ico-time")
				.head__duration
					span пн-пт с 9:00 до 20:00
					span сб с 10:00 до 18:00

			.head__btn
				a(href="").btn Оставить заявку
			

			.head__burger
				.burger
					span

	.head-bot-cont
		.wrapper
			.head-bot
				ul.head-menu
					li.head-menu-item
						a(href="").head-menu-link
							span
								svg.ico
									use(xlink:href="#ico-home-1")
							span Новостройки
					li.head-menu-item
						a(href="").head-menu-link
							span
								svg.ico
									use(xlink:href="#ico-home-2")
							span Вторичное жилье
					li.head-menu-item
						a(href="").head-menu-link
							span
								svg.ico
									use(xlink:href="#ico-bag")
							span Коммерческая недвижимость
					li.head-menu-item
						a(href="").head-menu-link
							span
								svg.ico
									use(xlink:href="#ico-home-3")
							span Элитная недвижимость
					li.head-menu-item
						a(href="").head-menu-link
							span
								svg.ico
									use(xlink:href="#ico-list")
							span Дома, дачи, участки
					li.head-menu-item
						a(href="").head-menu-link
							span
								svg.ico
									use(xlink:href="#ico-home-4")
							span Недвижимость Челябинской области
					li.head-menu-item
						a(href="").head-menu-link
							span
								svg.ico
									use(xlink:href="#ico-home-5")
							span Недвижимость России
					li.head-menu-item
						a(href="").head-menu-link
							span
								svg.ico
									use(xlink:href="#ico-key")
							span Аренда


