<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		.mobile-menu
		main#content
			include inc/header.pug
			.content
				.main-banner__cont
					figure
						img(src="img/main-banner.jpg", alt="")
					.main-banner-wr
						.wrapper
							.main-banner
								.main-banner__title  20 Квартир <span>по специальной цене</span>
								.main-banner__text Жители ЖК «Министр» могут не тревожиться за безопасность своих детей, у них будет своя закрытая территория с видеонаблюдением по периметру. Также работает охрана.
				.services-cont
					.wrapper
						.services
							.title Наши услуги
							.services-text Только качественные услуги от настоящих профессионалов своего дела
							.services__list
								a(href="#").services__item
									.services__item-img
										img(src="img/services-1.svg", alt="")
									.services__item-title Продажа недвижимости
									.services__item-text С нами продавать выгодно и быстро
									.btn Узнать больше
								a(href="#").services__item
									.services__item-img
										img(src="img/services-2.svg", alt="")
									.services__item-title Ипотека
									.services__item-text Одобрение за 2 часа, скидки до 1,5 %от ставки банка, материнский капитал
									.btn Узнать больше
								a(href="#").services__item
									.services__item-img
										img(src="img/services-3.svg", alt="")
									.services__item-title Оценка имущества
									.services__item-text Грамотно, оперативно, в соответствии с законодательством РФ
									.btn Узнать больше
								a(href="#").services__item
									.services__item-img
										img(src="img/services-4.svg", alt="")
									.services__item-title Подбор квартир
									.services__item-text Бесплатный подбор новостроек, безопасная покупка на вторичном рынке
									.btn Узнать больше
								a(href="#").services__item
									.services__item-img
										img(src="img/services-5.svg", alt="")
									.services__item-title Юридические услуги
									.services__item-text Профессиональное юридическое сопровождение, гарантия безопасности сделки
									.btn Узнать больше
								a(href="#").services__item
									.services__item-img
										img(src="img/services-6.svg", alt="")
									.services__item-title Срочный выкуп
									.services__item-text Быстро, безопасно, по выгодной для Вас цене
									.btn Узнать больше
				.best-offer-cont
					.wrapper
						.best-offer
							.title Лучшие предложения
							.best-offer-text Самая большая база недвижимости и эксклюзивные ценовые условия от ведущих застройщиков России.
							.slider-nav
								ul.slider-nav__list
									li.slider-nav__item
										.slider-nav__link
											input(type="radio" name="filter" id='1' value="1")
											label(for="1") Новостройки
									li.slider-nav__item
										.slider-nav__link 
											input(type="radio" name="filter" id='2' value="2")
											label(for="2") Вторичная недвижимость Челябинска
									li.slider-nav__item
										.slider-nav__link 
											input(type="radio" name="filter" id='3' value="3")
											label(for="3") Аренда
									li.slider-nav__item
										.slider-nav__link 
											input(type="radio" name="filter" id='4' value="4")
											label(for="4") Коммерческая недвижимость
									li.slider-nav__item
										.slider-nav__link 
											input(type="radio" name="filter" id='5' value="5")
											label(for="5") Дома, дачи, участки
									li.slider-nav__item
										.slider-nav__link 
											input(type="radio" name="filter" id='6' value="6")
											label(for="6") Недвижиость Челябинской области
									li.slider-nav__item.reset-filter
										.slider-nav__link 
											input(type="radio" name="filter" id='7' value=" ")
											label(for="7") Все объекты
									
							.best-offer__list
								.best-offer__item(data-id="1")
									figure.best-offer__item-img
										img(src="img/photos/slide.jpg", alt="")
									.best-offer__item-info
										.slider-block__info__title Срочная продажа
										.slider-block__info__subtitle 2-х комнатная
										.slider-block__info__address 
											.address г. Санкт-Петербург, ул. Центральная, д. 8
											.region Район: Советский
										.slider-block__info__middle
											span 87 м2
											span 18 / 2 этаж
										.slider-block__info__price 2 580 000 <i class="rub">₽</i>
										a(href="#").btn Подробнее
								.best-offer__item(data-id="2")
									figure.best-offer__item-img
										img(src="img/photos/slide.jpg", alt="")
									.best-offer__item-info
										.slider-block__info__title Срочная продажа
										.slider-block__info__subtitle 2-х комнатная
										.slider-block__info__address 
											.address г. Санкт-Петербург, ул. Центральная, д. 8
											.region Район: Советский
										.slider-block__info__middle
											span 87 м2
											span 18 / 2 этаж
										.slider-block__info__price 2 580 000 <i class="rub">₽</i>
										a(href="#").btn Подробнее
								.best-offer__item(data-id="3")
									figure.best-offer__item-img
										img(src="img/photos/slide.jpg", alt="")
									.best-offer__item-info
										.slider-block__info__title Срочная продажа
										.slider-block__info__subtitle 2-х комнатная
										.slider-block__info__address 
											.address г. Санкт-Петербург, ул. Центральная, д. 8
											.region Район: Советский
										.slider-block__info__middle
											span 87 м2
											span 18 / 2 этаж
										.slider-block__info__price 2 580 000 <i class="rub">₽</i>
										a(href="#").btn Подробнее
								.best-offer__item(data-id="4")
									figure.best-offer__item-img
										img(src="img/photos/slide.jpg", alt="")
									.best-offer__item-info
										.slider-block__info__title Срочная продажа
										.slider-block__info__subtitle 2-х комнатная
										.slider-block__info__address 
											.address г. Санкт-Петербург, ул. Центральная, д. 8
											.region Район: Советский
										.slider-block__info__middle
											span 87 м2
											span 18 / 2 этаж
										.slider-block__info__price 2 580 000 <i class="rub">₽</i>
										a(href="#").btn Подробнее
								.best-offer__item(data-id="5")
									figure.best-offer__item-img
										img(src="img/photos/slide.jpg", alt="")
									.best-offer__item-info
										.slider-block__info__title Срочная продажа
										.slider-block__info__subtitle 2-х комнатная
										.slider-block__info__address 
											.address г. Санкт-Петербург, ул. Центральная, д. 8
											.region Район: Советский
										.slider-block__info__middle
											span 87 м2
											span 18 / 2 этаж
										.slider-block__info__price 2 580 000 <i class="rub">₽</i>
										a(href="#").btn Подробнее
								.best-offer__item(data-id="7")
									figure.best-offer__item-img
										img(src="img/photos/slide.jpg", alt="")
									.best-offer__item-info
										.slider-block__info__title Срочная продажа
										.slider-block__info__subtitle 2-х комнатная
										.slider-block__info__address 
											.address г. Санкт-Петербург, ул. Центральная, д. 8
											.region Район: Советский
										.slider-block__info__middle
											span 87 м2
											span 18 / 2 этаж
										.slider-block__info__price 2 580 000 <i class="rub">₽</i>
										a(href="#").btn Подробнее
								
				.default-slider-cont
					.wrapper
						.default-slider
							.title 
								span Акции
								a(href="#").btn Все акции
								.stoke-slider-arrow

						.default-slider__list
							a(href="#").default-slider__item
								figure.default-slider__item-img
									img(src="img/photos/stoke-slider-1.jpg")
								.default-slider__item-info
									.default-slider__item-title Акция в жилом комплексе “Север”. Скикдки до 20%
									.default-slider__item-text Только 10 квартир по специальным ценам и только для Вас!
									.default-slider__item-bot
										a(href="#").btn Подробнее
										.default-slider__item-date 14.11.2019
							a(href="#").default-slider__item
								figure.default-slider__item-img
									img(src="img/photos/stoke-slider-1.jpg")
								.default-slider__item-info
									.default-slider__item-title Акция в жилом комплексе “Север”. Скикдки до 20%
									.default-slider__item-text Только 10 квартир по специальным ценам и только для Вас!
									.default-slider__item-bot
										a(href="#").btn Подробнее
										.default-slider__item-date 14.11.2019
							a(href="#").default-slider__item
								figure.default-slider__item-img
									img(src="img/photos/stoke-slider-1.jpg")
								.default-slider__item-info
									.default-slider__item-title Акция в жилом комплексе “Север”. Скикдки до 20%
									.default-slider__item-text Только 10 квартир по специальным ценам и только для Вас!
									.default-slider__item-bot
										a(href="#").btn Подробнее
										.default-slider__item-date 14.11.2019
							a(href="#").default-slider__item
								figure.default-slider__item-img
									img(src="img/photos/stoke-slider-1.jpg")
								.default-slider__item-info
									.default-slider__item-title Акция в жилом комплексе “Север”. Скикдки до 20%
									.default-slider__item-text Только 10 квартир по специальным ценам и только для Вас!
									.default-slider__item-bot
										a(href="#").btn Подробнее
										.default-slider__item-date 14.11.2019
				.advantages-cont
					.wrapper
						.advantsges
							.title Наши преимущества
							.advantsges-text
							.advantsges__list
								.advantsges__item
									figure
										img(src="img/advantsges-1.png", alt="")
									.advantsges__item-title Гарантия безопасности
									.advantsges__item-text Мы документально подтверждаем безопасность проведенных с нами сделок и гарантируем юридическую защиту в течение 3 лет
								.advantsges__item
									figure
										img(src="img/advantsges-2.png", alt="")
									.advantsges__item-title Экономия времени и денег
									.advantsges__item-text  У нас можно одновременно продать старую квартиру, купить новую, рассчитать ипотеку в нескольких банках, реализовать жилищные сертификаты. безопасно оформить сделку
								.advantsges__item
									figure
										img(src="img/advantsges-3.png", alt="")
									.advantsges__item-title Получите удовольствие от сервиса
									.advantsges__item-text  С вами работают только профессионалы, члены Гильдии риелторов России
								.advantsges__item
									figure
										img(src="img/advantsges-4.png", alt="")
									.advantsges__item-title Оформление ипотеки за 2 часа
									.advantsges__item-text  Мы работаем со всеми крупными банками и всегда подберем выгодный именно для вас вариант
								.advantsges__item
									figure
										img(src="img/advantsges-5.png", alt="")
									.advantsges__item-title Бесплатный подбор новостроек
									.advantsges__item-text  Нашу работу оплачивают застройщики, а  вы получаете независимые рекомендации по  всем новостройкам города
								.advantsges__item
									figure
										img(src="img/advantsges-6.png", alt="")
									.advantsges__item-title Недвижимость в России
									.advantsges__item-text  Мы продаем недвижимость в Челябинске, Санкт-Петербурге, Екатеринбурге, Краснодаре, Новороссийске, Анапе, у нас есть собственный офис в Сочи

				.testemonials-cont
					.wrapper
						.testemonials
							.title 
								span Отзывы
								a(href="#").btn Все отзывы
								.testemonials-arrow
							.testemonials__list
								.testemonials__item
									.testemonials__item-top
										figure
											img(src="img/testemonials.jpg", alt="")
										.testemonials__user
											.testemonials__user-name Сергей Иванов
											.testemonials__user-address Москва, Россия

									.testemonials__item-info
										.testemonials__info-text Приятно было сотрудничать. Спасибо за работу. Буду обращаться еще ...
										.testemonials__item-date 13.11.2018
								.testemonials__item
									.testemonials__item-top
										figure
											img(src="img/testemonials.jpg", alt="")
										.testemonials__user
											.testemonials__user-name Сергей Иванов
											.testemonials__user-address Москва, Россия

									.testemonials__item-info
										.testemonials__info-text Приятно было сотрудничать. Спасибо за работу. Буду обращаться еще ...
										.testemonials__item-date 13.11.2018
								.testemonials__item
									.testemonials__item-top
										figure
											img(src="img/testemonials.jpg", alt="")
										.testemonials__user
											.testemonials__user-name Сергей Иванов
											.testemonials__user-address Москва, Россия

									.testemonials__item-info
										.testemonials__info-text Приятно было сотрудничать. Спасибо за работу. Буду обращаться еще ...
										.testemonials__item-date 13.11.2018
								.testemonials__item
									.testemonials__item-top
										figure
											img(src="img/testemonials.jpg", alt="")
										.testemonials__user
											.testemonials__user-name Сергей Иванов
											.testemonials__user-address Москва, Россия

									.testemonials__item-info
										.testemonials__info-text Приятно было сотрудничать. Спасибо за работу. Буду обращаться еще ...
										.testemonials__item-date 13.11.2018

				.default-slider-cont
					.wrapper
						.default-slider
							.title 
								span Акции
								a(href="#").btn Все акции
								.stoke-slider-arrow

						.default-slider__list
							a(href="#").default-slider__item
								figure.default-slider__item-img
									img(src="img/photos/stoke-slider-1.jpg")
								.default-slider__item-info
									.default-slider__item-title Акция в жилом комплексе “Север”. Скикдки до 20%
									.default-slider__item-text Только 10 квартир по специальным ценам и только для Вас!
									.default-slider__item-bot
										a(href="#").btn Подробнее
										.default-slider__item-date 14.11.2019
							a(href="#").default-slider__item
								figure.default-slider__item-img
									img(src="img/photos/stoke-slider-1.jpg")
								.default-slider__item-info
									.default-slider__item-title Акция в жилом комплексе “Север”. Скикдки до 20%
									.default-slider__item-text Только 10 квартир по специальным ценам и только для Вас!
									.default-slider__item-bot
										a(href="#").btn Подробнее
										.default-slider__item-date 14.11.2019
							a(href="#").default-slider__item
								figure.default-slider__item-img
									img(src="img/photos/stoke-slider-1.jpg")
								.default-slider__item-info
									.default-slider__item-title Акция в жилом комплексе “Север”. Скикдки до 20%
									.default-slider__item-text Только 10 квартир по специальным ценам и только для Вас!
									.default-slider__item-bot
										a(href="#").btn Подробнее
										.default-slider__item-date 14.11.2019
							a(href="#").default-slider__item
								figure.default-slider__item-img
									img(src="img/photos/stoke-slider-1.jpg")
								.default-slider__item-info
									.default-slider__item-title Акция в жилом комплексе “Север”. Скикдки до 20%
									.default-slider__item-text Только 10 квартир по специальным ценам и только для Вас!
									.default-slider__item-bot
										a(href="#").btn Подробнее
										.default-slider__item-date 14.11.2019
						

				
		include inc/footer.pug
		include inc/scripts.pug